#khung1 {
	width: 500px;
	height: 500px;
	background: green;
	position: relative; /*Vị trí của đới tượng có với vị trí mặc định*/
	top: 50px;
	left: 50px;
	/*position: fixed; Vị trí của đt so với cửa sổ trình duyệt
	bottom: 5px;
	right: 5px; */

}
#khung2 {
	width: 200px;
	height: 200px;
	background: red;
	position: absolute;
	top: 100px;
	left: 100px;
}
